

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2 {
  color: black;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e62d11;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d71e09;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
background-color: white;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
